@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode by default */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark body {
  background-color: #121212;
  color: #e0e0e0;
}

